@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');

:root {
    /* Color*/
    --main-text-color: #ffff;
    --gray--text: #242424;
    --background-paper: #03609e;


    /* Font */
    --font-mina: "Mina", sans-serif;
}