@import "../../var.css";

.container {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    align-items: center;
    text-align: center;

}




.buttonText {
    font-family: var(--font-mina);
    font-size: 18px;
    color: var(--main-text-color);
    font-weight: 600;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.titleText {
    font-family: var(--font-mina);
    font-size: 48px;
    color: var(--main-text-color);
    font-weight: 600;
}

.bodyText {
    font-family: var(--font-mina);
    font-size: 18px;
    color: var(--main-text-color);
    font-weight: 600;

}

.textRow {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    text-align: center;
}