@import "../../var.css";

.container {
    display: flex;
    padding: 4px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    align-items: center;

}

.bgImg {
    display: flex;
    align-items: flex-start;
    height: 600px;
    align-items: center;
}

.title {
    font-family: var(--font-mina);
    font-size: 1rem;

}

.buttonText {
    font-family: var(--font-mina);
    font-size: 18px;
    color: var(--main-text-color);
    font-weight: 600;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.cardRow {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.infoRow {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.modal {
    position: absolute;
    top: 50%;
    font-family: var(--font-mina);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: var(--background-paper);
    border: 2px solid #000;
    box-shadow: 24px;
    padding: 4px;
    text-align: center;

}

.scoreList {
    font-family: var(--font-mina);
    list-style: none;
    /* Remove list styling */
    display: flex;
    /* Make it horizontal */
    flex-direction: row;
    /* Ensure items are in a row */
    gap: 10px;
    /* Add spacing between items if needed */
    padding: 0;
    /* Remove default padding */
    margin: 0;
    /* Remove default margin */
}